mixin WebVsUxDesigner 
  +Section(style="margin-top:-21.5rem")
    .row
      .col-md-8
        img.w-100(src=`${CWD}assets/img/gallery/ux-designer.png` alt='...') 
        h1.my-4 Miêu tả
        p Bằng Thạc sĩ Máy tính và Công nghệ Thông tin trực tuyến (MCIT Online) là một bằng thạc sĩ trực tuyến về Khoa học Máy tính được thiết kế riêng cho các chuyên ngành không thuộc Khoa học Máy tính. Được cung cấp bởi Đại học Pennsylvania, chương trình mới này mang đến trực tuyến bằng MCIT lâu đời, được thiết lập trong khuôn viên trường. Chương trình MCIT Online giúp sinh viên không có nền tảng khoa học máy tính thành công trong lĩnh vực máy tính và công nghệ. Sinh viên MCIT Online đến từ các nền tảng học thuật đa dạng, từ kinh doanh và lịch sử đến hóa học và y học.
        p Khoa học máy tính có thể không ở trong quá khứ của bạn, nhưng nó sẽ có trong tương lai của bạn. Công nghệ có tác động to lớn đến cuộc sống của chúng ta và đang tạo ra những lĩnh vực và vị trí chưa từng tồn tại cách đây 5 năm. Được trang bị bằng khoa học máy tính cạnh tranh, sinh viên tốt nghiệp MCIT Online sẽ có vị trí đặc biệt để đảm nhiệm các vai trò trong lĩnh vực tài chính, chăm sóc sức khỏe, giáo dục và chính phủ, cũng như trong ngành phát triển phần mềm cốt lõi. Tiếp xúc với các dự án thực tế trong suốt chương trình sẽ chuẩn bị cho sinh viên để sử dụng các kỹ năng có tác động tích cực đến xã hội.
        h1 Bạn sẽ học gì?
        ul.list-unstyled
          li.mb-3 
            i.fas.fa-check.text-info.me-2
            strong Chất lượng của Ivy League
            |&nbsp;Một chương trình đầu tiên cung cấp bằng thạc sĩ của Ivy League về Khoa học Máy tính được thiết kế cho các chuyên ngành không thuộc CS.
          li.mb-3 
            i.fas.fa-check.text-info.me-2
            strong Xây dựng quanh lịch trình của bạn Các môn học
            |&nbsp; là 100 phần trăm trực tuyến. Bạn sẽ được hưởng lợi từ chương trình giảng dạy chất lượng cao giống như sinh viên trong khuôn viên trường và tốt nghiệp với cùng một bằng cấp. Bằng tốt nghiệp không cho biết bằng được kiếm trực tuyến hay trong khuôn viên trường.
          li.mb-3 
            i.fas.fa-check.text-info.me-2
            strong Định giá có thể truy cập Chi phí của bằng MCIT Online
            |&nbsp; thấp hơn đáng kể so với các lựa chọn thay thế trong khuôn viên trường và hầu hết các bằng thạc sĩ trực tuyến về Khoa học Máy tính. Sinh viên phải trả $ 2,640 cho mỗi đơn vị khóa học cho tổng số 10 đơn vị khóa học. Học phí và lệ phí được đăng dưới dạng hướng dẫn và có thể thay đổi.
          li.mb-3 
            i.fas.fa-check.text-info.me-2
            strong Hãy thử trước khi bạn đăng ký Penn Engineering
            |&nbsp; cung cấp Chuyên ngành trực tuyến, Giới thiệu về Lập trình với Python và Java, trên Coursera để giúp bạn quyết định xem chương trình MCIT Online có phù hợp hay không trước khi bạn đăng ký.
      
      .col-md-4 
        .card
          ul.list-group.list-group-flush
            li.list-group-item
              strong Đã đăng kí 
              | : 1200 học viên
            li.list-group-item
              strong Thời lượng 
              | : 2 giờ
            li.list-group-item
              strong Bài giảng 
              | : 8
            li.list-group-item
              strong Danh mục 
              | : Công nghệ
            li.list-group-item
              strong Trình độ
              | : Trung cấp
            li.list-group-item.text-center
              img(src=`${CWD}assets/img/gallery/searching.png` width="78" alt='...') 
              p.text-muted.mb-0.mt-4 Liên hệ với bộ phận hỗ trợ khách hàng tại
              a(href='contact-henry@gmail.com ').text-info contact-henry@gmail.com

              
              
