mixin HeroHeader
  section#home.pt-6.bg-600
    .container
      .row.align-items-center
        .col-md-5.col-lg-6.order-0.order-md-1.text-end
          img.pt-7.pt-md-0(src=`${CWD}assets/img/gallery/hero-header.png` width="470"  alt='hero-header').w-100
        .col-md-7.col-lg-6.text-md-start.text-center.py-6
          h4.fw-bold.font-sans-serif Trở thành bậc thầy guitar
          h1.fs-6.fs-xl-7.mb-5 Học guitar đệm hát cấp tốc trong vòng 30 ngày
          a.btn.btn-primary.me-2(href='#!' role='button') Đăng kí ngay
          a.btn.btn-outline-secondary(href='#!' role='button') Xem chi tiết